
.wrapper-rectangle {
    margin-top: 3rem;
    height: 100%;
    width: 90%;

}

.container-rectangle {
    display: flex;
    height: 90%;
    background-color: #FFF;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.content-before {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.before-image {
    width: 100%;
    height: 80%;
    margin-bottom: 2rem;
}

.before-text{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 20%;
    padding: 1rem;
}

.before-text p:first-of-type {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.813rem;
    letter-spacing: 0rem;
    text-align: center;
    color: #343A40;
    margin-bottom: 1rem;
}

.before-text p:nth-child(2) {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0rem;
    text-align: center;
    color: #495057;
}


.content-after {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}


.after-text {
    width: 95%;
    min-height: 20rem;
    word-wrap: break-word;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8rem;
    letter-spacing: 0rem;
    text-align: left;
    color: #495057;
}

.after-button{
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 4rem;
    width: 95%;
    border-radius: 1.5rem;
    background-color: #D8DFE8;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.188rem;
    letter-spacing: 0em;
    text-align: center;
    color: #0A3871;
    border: 0.063rem solid #0A3871;
}

.after-button:active{
    background-color: #f3f3f3;
    transform: translateY(0.125em);
}

@media screen and (min-width: 1024px) {
    .wrapper-rectangle {
        width: 100%;
        padding-right: 2rem;
        padding-bottom: 1rem;
    }
    
    .container-rectangle{
        height: 100%;
        margin-bottom: 1rem;
    }

    .before-text p:first-of-type {
        font-size: 1.5rem;
    }
    
    .before-text p:nth-child(2) {
        font-size: 1rem;

    }
    
}